/** Critical CSS for the theme. This file is included on every page. */

/* Reset styles inspired by https://www.joshwcomeau.com/css/custom-css-reset/ */
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100svh;
  font-family: 'Inter', sans-serif;
}

h1, h2 {
    font-family: 'Raleway', sans-serif;
}

.font-inter {
    font-family: 'Inter', sans-serif;
}
.font-raleway {
    font-family: 'Raleway', sans-serif;
}
.font-outfit {
    font-family: 'Outfit', sans-serif;
}
.font-bebas {
    font-family: 'Bebas Neue', sans-serif;
}
.font-zalando {
    font-family: 'Zalando Sans Expanded', sans-serif;
}
.font-special-gothic {
    font-family: 'Special Gothic Expanded One', sans-serif;
}

html:has(dialog[scroll-lock][open], details[scroll-lock][open]) {
  overflow: hidden;
}

picture,
/* video, */
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select {
  font: inherit;
  border-radius: var(--style-border-radius-inputs);
}

dialog {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

p {
  text-wrap: pretty;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p:empty {
  display: none;
}

:is(p, h1, h2, h3, h4, h5, h6):first-child,
:empty:first-child + :where(p, h1, h2, h3, h4, h5, h6) {
  margin-block-start: 0;
}

:is(p, h1, h2, h3, h4, h5, h6):last-child,
:where(p, h1, h2, h3, h4, h5, h6) + :has(+ :empty:last-child) {
  margin-block-end: 0;
}

/** Theme styles below */
body {
  font-family: var(--font-primary--family);
  background-color: var(--color-background);
  color: var(--color-foreground);
}

/** Section layout utilities */

/**
 * Setup a grid that enables both full-width and constrained layouts
 * depending on the class of the child elements.
 *
 * By default, a minimum content margin is set on the left and right
 * sides of the section and the content is centered in the viewport to
 * not exceed the maximum page width.
 *
 * When a child element is given the `full-width` class, it will span
 * the entire viewport.
 */
.shopify-section {
  --content-width: min(
    calc(var(--page-width) - var(--page-margin) * 2),
    calc(100% - var(--page-margin) * 2)
  );
  --content-margin: minmax(var(--page-margin), 1fr);
  --content-grid: var(--content-margin) var(--content-width) var(--content-margin);

  /* This is required to make <img> elements work as background images */
  /* position: relative; */
  grid-template-columns: var(--content-grid);
  display: grid;
  width: 100%;

  transition: padding-top 0.3s ease-in-out;
}

.shopify-section:not(:has(.no-row)) {
  padding-bottom: 1rem;
  border-bottom: 1px solid #d0d0d0;
}

.shopify-section:has(.no-row-padding) {
  padding-bottom: 0;
}

.shopify-section:not(:has(> :not(.hidden,script))) {
  display: none;
}

.shopify-section-group-header-group.shopify-section {
  padding-bottom: 0;
  border-bottom: none;
  margin-bottom: 0;
}

/* Child elements, by default, are constrained to the central column of the grid. */
.shopify-section > * {
  grid-column: 2;
}

/* Child elements that use the full-width utility class span the entire viewport. */
.shopify-section > .full-width {
  grid-column: 1 / -1;
}

.shopify-policy__container {
  margin: auto;
  margin-top: 5rem !important;
  max-width: 100vw !important;
  width: 70vw !important;
  text-align: justify;
  padding-inline: 0 !important;

  .shopify-policy__title {
    display: none;
  }

  section {
    scroll-margin-top: 115px;
    scroll-behavior: smooth;
  }

  h1, h2 {
    margin-top: 0.5rem;
    font-weight: bold;
    color: #000;
    text-align: center;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
}

@media (max-width: 768px) {
  .shopify-policy__container {
    width: 90vw !important;
  }
}

.scrollbar-hide, .scrollbar-hide * {
  scrollbar-width: none;
  --webkit-scrollbar: none;
  
  &::-webkit-scrollbar {
    display: none;
  }
}

@font-face {
  font-family: 'Coolvetica';
  src: url('/assets/Coolvetica Rg.otf') format('otf');
}

/* Reviews */

.jdgm-rev-widg {
  padding: 24px 16px !important;
}

@media (max-width: 768px) {
  .jdgm-carousel-item__inner-wrapper {
    margin: auto !important;
    width: 80% !important;
    .jdgm-carousel-item__review {
      width: 80%;
      margin: auto;
      .jdgm-carousel-item__review-content {
        text-align: center;
      }
    }
    .jdgm-carousel-item__review-rating {
      margin: auto;
      width: fit-content;
    }

    .jdgm-carousel-item__reviewer-name-wrapper {
      margin-inline: auto;
      width: fit-content !important;
      text-align: center !important;
    }
  }

  .jdgm-carousel-wrapper {
    position: relative;
  }

  .jdgm-carousel__arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
  }
}